/* tables */

.table{
  border: 3px double black; 
}
.login_table {
  background: rgb(245, 73, 145);
}
.register_table {
  background: #0099ff;
}


/* buttons */

.login_btn {
  background: greenyellow;
}

.register_btn {
  background: red;
}
